@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*400 500 700*/
/*16px*/
/*mobile: 375px     desktop: 1440px*/

:root {
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Karla';
    transition: background 0.3s ease,
                color 0.3s ease,
}

p {
    font-size: 16px;
}

button:focus {
    outline: 2px solid var(--Red-500);
}

body {
    background-image: var(--Dark-Gradient);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main header {
    background-color: var(--Neutral-800);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9em;
    border-radius: 15px;
}

.mode-btn {
    background-color: var(--Neutral-700);
    padding: .7em .9em;
    border-radius: 10px;
    outline: none;
    border: none;
    flex: flex;
    /*verificar si esto funciona*/
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.filters {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.title-container button {
    background-color: var(--Neutral-700);
    padding: .4em .8em;
    border-radius: 30px;
    font-size: 1.5rem;
    border: 1px solid var(--Neutral-600);

    &.active-btn {
        background-color: var(--Red-500);
        color: var(--Neutral-900);
    }
}

section {
    margin-top: 2em;
    display: grid;
    gap: .8em;
}

section article {
    padding: 1em;
    background-color: var(--Neutral-800);
    border-radius: 10px;
    border: 1px solid var(--Neutral-700);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extension-info {
    display: flex;
}

.texts {
    padding-left: .8em;
}

.texts p {
    margin-top: .5em;
    color: var(--Neutral-200);
}

.extension-options {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    font-size: 1rem;
    border-radius: 20px;
    padding: .6em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #ccc;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--Red-400);
}

input:focus+.slider {
    border: 2px solid var(--Red-500);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width: 800px) {
    body {
        padding: 2em;
    }

    main {
        width: 1000px;
    }

    .title-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .mode-btn {
        &:hover {
            background-color: var(--Neutral-600);
            cursor: pointer;
        }
    }

    .filters {
        width: auto;
        gap: 1em;
    }

    .filters button:not(.active-btn) {
        &:hover {
            background-color: var(--Neutral-600);
            cursor: pointer;
        }
    }

    section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .remove-btn {
        &:hover {
            cursor: pointer;
            background-color: var(--Red-500);
            color: var(--Neutral-900);
        }
    }
}